<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="img-form" action="{{url_for('imdec')}}" method='POST' autocomplete="off" enctype="multipart/form-data">
        <input type="file" name="file"><br><br>
        <label for="fname"> Enter Key to Decrypt Image : </label>
        <input type="text" id="text" name="imgtext"><br><br>
        
        <button type="submit" value="submit" name="imagedec">Encrypt</button> 
</body>
</html>