<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="md5-form" action="{{url_for('md')}}"  method='POST' autocomplete="off" enctype="multipart/form-data">
        
        <label for="fname">Select File to calculate Hash  </label>
        <input type="file" name="file"><br><br>
        
        <button type="submit" value="submit" name="md5">calculate</button> </form>
</body>
</html>