<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,tr,td{
            border: 1px solid;
        }
    </style>
</head>
<body>
    <div>
        <table class="table">
            <tr>
            <td>Domain</td>
            <td>{{domain}}</td>
            </tr>
            <tr>
            <td>Spamming</td>
            <td>{{spamming}}</td>
            </tr>
            <tr>
            <td>Malware</td>
            <td>{{malware}}</td>
            </tr>
            <tr>
            <td>Phishing</td>
            <td>{{phishing}}</td>
            </tr>
            <tr>
            <td>Suspicious</td>
            <td>{{suspicious}}</td>
            </tr>
            <tr>
            <td>Adult</td>
            <td>{{adult}}</td>
            </tr>
            <tr>
            <td>Risk Score</td>
            <td>{{risk_score}}</td>
            </tr>
            <tr>
            <td>Category</td>
            <td>{{category}}</td>
            </tr>
        </table>
    </div>
</body>
</html>